.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: right;
  color: #0891b2; /* Cyan-800 */
  background-color: #f9fafb; /* bg-gray-50 */
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
